@import './default';
@import './nav';

.logo {
  width: 2%;
  max-width: 40px;
  position: fixed;
}

.heroImage {
  width: 70%;
  margin-top: -10%;
}

.heroImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.scroll {
  position: absolute;
  bottom: 6%;
  right: 4%;
  width: 4%;
  z-index: 10;
}

.contentOuter {
  padding: 0 6%;
}

.introduce {
  &__title {
    margin: 120px 0;
    font-size: 2.15rem;
    font-weight: bold;
    line-height: 1.5;
    width: 87%;
  }
}

.sectionTitle {
  font-weight: bold;
  text-align: right;
  font-size: 16px;
  margin-bottom: 105px;
}

.client {
  padding: 3rem 0 3rem 0;
  text-decoration: none;
  transition: 0.8s;
  background-position: right bottom;
  // transform: skew(0deg);
  &:hover {
    background-image: url('../../static/img/workphoto1.png');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right center;
    // transform: skewY(10deg);
    opacity: 0.8;
  }
  &__title {
    font-size: 6rem;
    font-weight: bold;
    color: #1a1a1a;
  }
  &__list {
    display: flex;
    padding: 1rem 0;
    list-style-type: none;
    li {
      font-size: 0.8rem;
      ¥color: #1a1a1a;
      &:first-child {
      }
    }
  }
}
