@import './default';
@import './nav';

.logo {
  width: 2%;
  max-width: 40px;
  position: fixed;
}

.heroImage {
  width: 70%;
  margin-top: -10%;
}

.heroImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.scroll {
  position: absolute;
  bottom: 6%;
  right: 4%;
  width: 3%;
  z-index: 10;
}

.contentOuter {
  padding: 0 6%;
}

.introduce {
  &__title {
    margin: 150px 0;
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 1.5;
    width: 80%;
  }
}

.sectionTitle {
  font-weight: 600;
  text-align: right;
  font-size: 23px;
  margin-bottom: 70px;
}

.client {
  padding: 3rem 0 3rem 0;
  text-decoration: none;
  transition: 0.8s;
  background-position: right bottom;
  // transform: skew(0deg);
  border-bottom: 1px solid #eee;
  &:hover {
    background-image: url('../../static/img/workphoto1.png');
    background-size: 27%;
    background-repeat: no-repeat;
    background-position: right center;
    // transform: skewY(10deg);
    opacity: 0.8;
  }
  &__title {
    font-size: 5rem;
    font-weight: bold;
    color: #1a1a1a;
  }
  &__list {
    display: flex;
    padding: 1rem 0;
    list-style-type: none;
    li {
      font-size: 0.8rem;
      color: #1a1a1a;
      span {
        display: inline-block;
        padding: 0 1rem;
      }
    }
  }
}

.photos {
  margin-top: 200px;
  &__title {
    text-align: left;
    margin-bottom: 100px;
  }
  &__titlebox {
    float: left;
    text-align: center;
    // display: flex;
    // flex-flow: column;
    // align-items: baseline; /* 縦方向中央揃え */
    // justify-content: flex-start;
    margin-bottom: 75px;
    margin-left: -1%;
    margin-top: -2%;
    &__jp {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    &__en {
      font-size: 0.8rem;
    }
  }
  image {
    clear: both;
  }
}

.cf::after {
  display: block;
  clear: both;
  content: '';
}
