@import './default.scss';

.logo {
  width: 2%;
  max-width: 40px;
  position: fixed;
}

.heroImage {
  width: 65%;
  margin-top: -10%;
}

.heroImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.navbar {
  position: fixed;
}

.burger {
  display: grid;
  grid-template-columns: 5px 5px 5px;
  grid-gap: 5px 5px;
  position: fixed;
  right: 4%;
  cursor: pointer;
  z-index: 9999;
  animation: dot 5s ease-in-out 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.navbar-item {
  color: #ffffff;
  display: block;
}
.nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.is-active {
  // display: block;
  // width: 100%;
  // height: 100%;
  // background: #ffffff;
  // position: fixed;
  // top: 0;
  // right: 0;
  // z-index: 99;
}

@keyframes dot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes oposit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.white {
  width: 5px;
  height: 5px;
  border: 1px solid #1a1a1a;
  display: block;
  box-sizing: border-box;
  animation: dot 2s ease-in-out 0s;
  animation-iteration-count: infinite;
}

.is-active .white {
  opacity: 0;
  transition: 0.5s;
  transform: scale(0);
}

.black {
  width: 5px;
  height: 5px;
  background: #1a1a1a;
  transition: 0.2s;
  animation: oposit 2s ease-in-out 0s;
  animation-iteration-count: infinite;
}

.is-active .black {
  transform: rotate(-315deg);
  width: 100%;
  transition: 0.2s;
}

#navMenu {
  display: block;
}

.scroll {
  position: absolute;
  bottom: 6%;
  right: 4%;
  width: 4%;
}
